/* Navbar */
.title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.topbar {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 1px 2px 2px rgba(0,0,0,.3);
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}
.username{
    position: absolute;
    top: 18px;
    right: 60px;
}
.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Search */ 
.search {
  float: right;
}
.searchbar {
  width: 200px;
  height: 35px;
  border-radius: 0;
}
.button-search {
  margin-left: -5px;
  background-color: rgba(0, 0, 0, 0.845);
  color: white;
  border-radius: 3px;
  padding: 4px 6px;
}
.button-search:hover {
  background-color: black;
}

/* Table */
.table-responsive {
  margin-top: 15px;
}
li {
    list-style: none;
    margin: 20px 0 20px 0;
  }

  a {
    text-decoration: none;
  }
  .icon-img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }
  .list-item {
    margin-top: -25px;
  }
  .list-item li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    border-radius: 8px;
    width: 200px;
    box-sizing: border-box;
  }
  .list-item li a:hover {
    background-color: red;
    border-radius: 8px;
  }
  .sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
  }

  .active-main-content {
    margin-left: 250px;
  }
  .active-sidebar {
    margin-left: 0;
  }

  #main-content {
    transition: 0.4s;
  }
.tbl-border {
  background-color: #eeee;
  border: 1px solid black;
  border-radius: 12px;
 /* box-shadow: 0px 1px 2px 1px rgba(0,0,0,.75); */
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  min-width: 880px;
  box-sizing: border-box;
}
/* Button */
.button {
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  box-sizing: border-box;
  padding: 3px 6px;
}
.edit {
  border: 1px solid black;
  margin-left: 1px;
}
.edit:hover {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}
.hapus {
  border: 1px solid black;
  margin-left: 10px;
}
.hapus:hover {
  background-color: red;
  color: white;
  border: 1px solid red;
}
/* footer */
.footimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 30px;
}